@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@400;700&display=swap');

:root{
    --primary: #f8f8f8;
    --secondary: #4f9ea0;
    --accent: #4e7f81;
    --warning: #fe5f55;
}

*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

/*
    Color palette:

    Primary: #f8f8f8
    Secondary: #4f9ea0 cadetblue
    Accent: #4e7f81
    Warning: #fe5f55

*/