<div class="dashboard-container">
  <header class="stats-row">
    <div class="card gauge-card active">
      <app-gauge [value]="activePercent()" color="#2ecc71" label="W trasie"></app-gauge>
    </div>
    <div class="card gauge-card standby">
      <app-gauge [value]="standbyPercent()" color="#65a9a9" label="Oczekiwanie"></app-gauge>
    </div>
    <div class="card gauge-card maintenance">
      <app-gauge [value]="maintPercent()" color="#f39c12" label="Serwis"></app-gauge>
    </div>
    <div class="card gauge-card oos">
      <app-gauge [value]="oosPercent()" color="#e74c3c" label="Wyłączone"></app-gauge>
    </div>
  </header>


  <main class="dashboard-grid">
    <section class="card alerts-section">
      <h3>Pilne Alerty</h3>
      <div class="alert-scroll-container">
        <ul class="alert-list">
          @for(alert of sortedAlerts(); track $index){
            <li class="alert-item" [ngClass]="getUrgencyClass(alert.urgency)">
              <strong>{{alert.trainName}}</strong> {{alert.statusMessage}}
            </li>
          } @empty {
          <li class="alert-item no-alerts">Brak aktywnych alertów systemowych</li>
          }
        </ul>
      </div>
    </section>

    <section class="card map-preview">
      <h3>Zgłoszenia na sieci</h3>
      <div class="reports-container">
        @for(report of sortedReports(); track report.id) {
          <div class="report-item" [ngClass]="getUrgencyClass(report.urgency)">
            <div class="report-header">
              <span class="urgency-badge">{{ getUrgencyLabel(report.urgency) }}</span>
            <span class="reporter-id">Numer Zgłaszającego: #{{ report.reporterId }}</span>
            </div>
            <p class="report-content">{{ report.content }}</p>
          </div>
        } @empty {
        <div class="no-reports">Brak aktywnych zgłoszeń</div>
        }
      </div>
    </section>

    <div class="maintenance-column">
      <section class="card maintenance-section">
        <h3>Stan Przeglądów</h3>
        <div class="maintenance-list">
          @for(train of trains(); track train.id) {
            <div class="maintenance-item">
              <div class="maint-info">
                <span>{{ train.name }}</span>
                <small>{{ (train.mileage % 100000).toLocaleString() }} km</small>
              </div>
              <div class="progress-bar">
                <div class="progress-fill" [style.width.%]="(train.mileage % 100000) / 1000"></div>
              </div>
            </div>
          }
        </div>
      </section>
    </div>
  </main>
</div>