<div class="dashboard-container">
  <header class="stats-row">
    <div class="card gauge-card active">
      <app-gauge [value]="activePercent()" color="#2ecc71" label="W trasie"></app-gauge>
    </div>
    <div class="card gauge-card standby">
      <app-gauge [value]="standbyPercent()" color="#65a9a9" label="Oczekiwanie"></app-gauge>
    </div>
    <div class="card gauge-card maintenance">
      <app-gauge [value]="maintPercent()" color="#f39c12" label="Serwis"></app-gauge>
    </div>
    <div class="card gauge-card oos">
      <app-gauge [value]="oosPercent()" color="#e74c3c" label="Wyłączone"></app-gauge>
    </div>
  </header>


  <main class="dashboard-grid">

    <section class="card alerts-section">
      <h3>Pilne Alerty</h3>
      <div class="alert-scroll-container">
        <ul class="alert-list">
          @for(alert of sortedAlerts(); track $index){
          <li class="alert-item" [ngClass]="getUrgencyClass(alert.urgency)">
            <strong>{{alert.trainName}}</strong> {{alert.statusMessage}}
          </li>
          } @empty {
          <li class="alert-item no-alerts">Brak aktywnych alertów systemowych</li>
          }
        </ul>
      </div>
    </section>

    <section class="card map-preview">
      <h3>Zgłoszenia na sieci</h3>
      <div class="reports-container">
        @for(report of sortedReports(); track report.id) {
        <div class="report-item" [ngClass]="getUrgencyClass(report.urgency)">
          <div class="report-header">
            <span class="urgency-badge">{{ getUrgencyLabel(report.urgency) }}</span>
            <span class="reporter-id">Numer Zgłaszającego: #{{ report.reporterId }}</span>
          </div>
          <p class="report-content">{{ report.content }}</p>
        </div>
        } @empty {
        <div class="no-reports">Brak aktywnych zgłoszeń</div>
        }
      </div>
    </section>

    <section class="card forecast-section">
      <h3>Nadchodzące serwisy</h3>
      <div class="forecast-chart">
        <p>Pon: 2 | Wt: 0 | Śr: 4 | Czw: 1</p>
      </div>
    </section>

  </main>
</div>